<div class="container alltxt allbackground"><!-- Start container -->
  <header class="headermovie"><!-- Start header -->
    <div class="login1">
      <%= link_to "Sign up", new_usuario_registration_path %> |
      <%= link_to "Login", new_usuario_session_path %>
    </div>
      <ul class="headertxt">
          <li><a href="#news">MOVIES & DVDS</a></li>
          <li><a href="#news">TV</a></li>
          <li><a href="#news">NEWS</a></li>
          <li><a href="#about">TICKETS & SHOWTIMES</a></li>
      </ul>
<div class="navbar1">
      <input class="navbar1 navbar2" type="text" name="search" placeholder="Search..">
    </div>
    <img class="imglogo" src="http://www.lunapic.com/editor/premade/transparent.gif">
  </header><!-- Finish header -->


    <div class="row"><!-- Start row uno -->
      <div class="background1">
        <h6 class="rowunotxt">TRENDING ON RT</h6>
      </div>
    </div><!-- Finish row uno -->

<!-- Start boxes -->
    <div class="row"><!-- Start row dos -->
      <div class="col-lg-6 col-md- col-xs- box1"><!-- Star col uno -->
        <img class="imagehvr img1" src="https://media.melty.es/article-2695556-ajust_930-f235075205/emilia-clarke-como-daenerys-targaryen-en.jpg">
      </div><!-- Finish col uno -->

      <div class="col-lg-3 col-md- col-xs- box2"><!-- Start col dos -->
        <img class="imagehvr img2" src="http://series.online-latino.net/archivos/img/cover/the.100.jpg">
      </div><!-- Finish col dos -->

      <div class="col-lg-3 col-md- col-xs- box3"><!-- Start col tres -->  
        <img class="imagehvr img3" src="http://i64.tinypic.com/346vyms.jpg">
      </div><!-- Finish col tres -->
    </div><!-- Finish row dos -->

    <div class="row"><!-- Start row tres -->
      <div class="col-lg-6 col-md- col-xs- minibox1"><!-- Start col cuatro -->
      </div><!-- Finish col cuatro -->

      <div class="col-lg-3 col-md- col-xs- minibox2"><!-- Star col cinco -->
      </div><!-- Finish col cinco -->

      <div class="col-lg-3 col-md- col-xs- minibox3"><!-- Star col seis -->
      </div><!-- Finish col seis -->
      
    </div><!-- Finish row tres -->
<!-- Finsih boxes -->

<!-- Start list -->
    <div class="row"><!-- Start row cuatro -->
      <div class="col-lg-6 col-md- col-xs- boxtabla1"><!-- Start col siete -->
        <h4 class="txtshadow1"><b>MOVIES OPENING THIS WEEK</b></h4>
        <table class="table">
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  96%</th>
              <th>Wonder Woman</th>
              <th>JUN 2</th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  Not Score Yet</th>
              <th>Captain Underpants: The First Epic Movie</th>
              <th>JUN 2</th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  91%</th>
              <th>I, Daniel Blake</th>
              <th>JUN 2</th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  56%</th>
              <th>Dean</th>
              <th>JUN 2</th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  88%</th>
              <th>Handsome Devil</th>
              <th>JUN 2</th>
            </tr>
        </table>

        <h4 class="txtshadow1"><b>TOP BOX OFFICE</b></h4>
        <table class="table">
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  31%</th>
              <th>Pirates of the Caribbean: Dead men tell no tiles</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  81%</th>
              <th>Guardians of the Galaxy VOL.2</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  19%</th>
              <th>Baywatch</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  71%</th>
              <th>Alien: Covenant</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  46%</th>
              <th>Everything, Everything</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  17%</th>
              <th>Diary Of A Wimpy Kid: The Long Haul</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  37%</th>
              <th>Snatched</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  28%</th>
              <th>King Arthur: Legend of the Sword</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  52%</th>
              <th>The Boss Baby</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  71%</th>
              <th>Beauty and the Beast</th>
              <th>  </th>
            </tr>
        </table>

        <h4 class="txtshadow1"><b>COMING SOON TO THEATERS</b></h4>
        <table class="table">
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  Not  Score Yet</th>
              <th>The Mummy</th>
              <th>JUN 9</th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  100%</th>
              <th>It Comes At Night</th>
              <th>JUN 9</th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  No Score Yet</th>
              <th>Megan Leavey (Leavey)</th>
              <th>JUN 9</th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  No Score Yet</th>
              <th>My Cousin Rachel</th>
              <th>JUN 9</th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  82%</th>
              <th>Beatriz at Dinner</th>
              <th>JUN 9</th>
            </tr>
        </table>
        <br><br><br><br><br>          
      </div><!-- Finish col siete -->

      <div class="col-lg-6 col-md- col-xs- boxtabla2"><!-- Start col ocho -->
        <h4 class="txtshadow1"><b>NEW TV TONIGHT</b></h4>
        <table class="table">
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  90%</th>
              <th>Downward Dog: Season 1</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  100%</th>
              <th>House of Cards: Season 5</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  100%</th>
              <th>iZombie: Season 3</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  97%</th>
              <th>The Americans: Season 5</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  83%</th>
              <th>Genius: Season 1</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  78%</th>
              <th>Victorian Slum House: Season 1</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  55%</th>
              <th>Prision Break: Season 5</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  25%</th>
              <th>Imaginary Mary: Season 1</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  Not Score Yet</th>
              <th>Casual: Season 3</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  Not Score Yet</th>
              <th>Famous in Love: Season 1</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  Not Score Yet</th>
              <th>American Epic: Season 1</th>
              <th>  </th>
            </tr>
        </table>      

        <h4 class="txtshadow1"><b>MOST POPULAR TV ON RT</b></h4>
        <table class="table">
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  95%</th>
              <th>Twin Peaks: The Return</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  96%</th>
              <th>American Gods: Season 1</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  100%</th>
              <th>Master of None: Season 2</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  100%</th>
              <th>The Handmaid's Tale: Season 1</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  98%</th>
              <th>The Leftovers: Season 3</th>
              <th>  </th>
            </tr>
            <tr>
              <th>93%</th>
              <th>The Keepers: Miniseries</th>
              <th>  </th>
            </tr>
        </table>

        <h4 class="txtshadow1"><b>TOP DVD & STREAMING MOVIES</b></h4>
        <h6>FandangoNOW | Nerflix | iTunes | Amazon | More...</h6>
        <table class="table">
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  92%</th>
              <th>Logan</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  99%</th>
              <th>Get Out</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  35%</th>
              <th>The Great Wall/th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  76%</th>
              <th>Wakefield/th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://images.clipartpanda.com/white-snowflake-clipart-transparent-background-11971499311643754029erik_Single_Snowflake.svg.hi.png">  100%</th>
              <th>My Life as Zucchini (Ma Vie de Courgette)</th>
              <th>  </th>
            </tr>
        </table>  
      </div><!-- Finish col ocho -->
    </div><!-- Finish row cuatro -->
<!-- Finish list -->




  <footer class="footermovie"><!-- Start footer -->
    <%= link_to "ABOUT US", about_path %>
  </footer><!-- Finish footer -->
</div><!-- Finish container -->
	
 


</div>